@charset "UTF-8";

@media screen and (max-width: 500px) {
    html, body {
        overflow: hidden;
    }
    nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 250px;  
    }
    #op {
        text-align: center;
    }
}