@charset "UTF-8";

@media screen and (min-width:762px ) and (max-width: 1020px) {
    #login {
        width: 87vw;
        height: 300px;
    }
    #login > #Imagem {
        float: left;
        width: 30%; 
        height: 100%;      
    }
    #login > #formulario {
        float: right;
        width: 70%;
    }
    body{
        background-image: linear-gradient(to top, #71e7eb, #20B3FA );   
    }
}

@media screen and (min-width: 1020px) and (max-width:1980px){
    #login > #formulario > h1 {
        font-size: 2em;
        transition: 0.5s;
    }
    #login {
        width: 990px;
        height: 300px;
    }
    #login > #formulario {
        float: left;
        width: 50%;
    }
    #login > #Imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    body{
        background-image: linear-gradient(to top, #71e7eb, #20B3FA );   
    }
}