@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

header {
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    flex-flow: row wrap;
}

h1 {
    flex:  0 1 400px;
    text-shadow: 1px 2px black;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
a:hover {
    transition: 0.5s;
    background-color: white;
    color: black;
}

main {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
    max-width: 800px;
    margin: 10px auto 10px auto;

}
p {
    text-indent: 10px;
    margin-bottom: 10px ;
    text-align: justify;
}

